<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body, "Type your question below" %>
    <%= f.text_area :body %>
  </div>

  <div class="choices">
    <%= f.fields_for :choices do |c| %>
      <%= f.label :body, "Answer (a-d -- do county math here)" %>
      <%= c.text_area :body %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
