<%= @question.id %>
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="category">
    <%= f.label :category_id, "Select the question's category" %>
    <%= f.select :category_id, @categories.collect { |c| [c.name, c.id] }, :selected => params[:category_id], :class => "form-control" %>
  </div>

  <div class="question">
    <%= f.label :question, "Type your question below" %>
    <%= f.text_area :body %>
  </div>

  <div class="choices">
  <% @question.choices.each.with_index do |choice, index| %>
    <%= f.fields_for :choices, choice do |c| %>
      <% if index == 0 %>
        <%= f.label :body, "The correct answer goes here (we'll randomize it for others)" %>
        <%= f.hidden_field :solution, :value => choice %>
      <% else %>
        <%= f.label :body, "A different, incorrect answer" %>
      <% end %>
      <%= c.text_area :body %>
    <% end %>
  <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
